/*titulo verde, botones verdes .title-green y .button*/

body {
    background-color: $color-bg;
    font-family: $font-family;
}

.button {
    text-transform: capitalize;

    &:hover {
        background-color: $color-details;
    }
}