<footer class="footer">
  <nav class="footer__shop">
    <h3 class="footer__title">Tienda</h3>
    <ul>
      <li><a class="footer__link" href="https://adalab.es/">Productos</a></li>

      <li><a class="footer__link" href="https://adalab.es/">Cajoneras</a></li>

      <li>
        <a class="footer__link" href="https://adalab.es/">Para toda la casa</a>
      </li>

      <li>
        <a class="footer__link" href="https://adalab.es/">Habitaciones</a>
      </li>
    </ul>
  </nav>
  <nav class="footer__us">
    <h3 class="footer__title">Nosotros</h3>
    <ul>
      <li>
        <a class="footer__link" href="https://adalab.es/">Nuestra guía</a>
      </li>

      <li>
        <a class="footer__link" href="https://adalab.es/">Nuestro diseño</a>
      </li>

      <li>
        <a class="footer__link" href="https://adalab.es/">Nuestra historia</a>
      </li>

      <li><a class="footer__link" href="https://adalab.es/">Ayuda</a></li>
    </ul>
  </nav>
  <nav class="footer__contact">
    <h3 class="footer__title">Contacto</h3>
    <ul>
      <li>
        <a class="footer__link" href="https://adalab.es/"
          >ayuda@openspaces.com</a
        >
      </li>

      <li><a class="footer__link" href="https://adalab.es/">Socios</a></li>
    </ul>
    <div class="contact__icons">
      <a href="https://adalab.es/"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="https://adalab.es/"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://adalab.es/"><i class="fa-brands fa-twitter"></i></a>
    </div>
  </nav>
  <a href="./index.html#header"><i class="fa-solid fa-arrow-up"></i></a>
</footer>
