<header class="header">
  <h1 class="header__title">Open Spaces</h1>
  <!--Leer README.md-->
  <div class="header__icon">
    <a href="https://adalab.es/">
      <i class="fas fa-bars"></i>
    </a>
  </div>
  <nav class="header__nav">
    <ul class="header__ul">
      <li class="header__li">
        <a class="header__link" href="https://adalab.es/">Productos</a>
      </li>
      <li class="header__li">
        <a class="header__link" href="https://adalab.es/">Colecciones</a>
      </li>
      <li class="header__li">
        <a class="header__link" href="https://adalab.es/">Tienda</a>
      </li>
      <li class="header__li">
        <a class="header__link" href="https://adalab.es/">Inicio</a>
      </li>
    </ul>
  </nav>
  <div class="header__container">
    <img
      clas="header__img"
      src="./assets/images/logo.png"
      alt="flor con nombre de la empresa"
      title="Open Spaces"
    />
  </div>
</header>
