<header class="header">
    <h1 class="header__title">Open Spaces</h1>
    <!--Leer README.md-->
    <div class="header__icon">
        <a href="https://adalab.es/">
            <i class="fas fa-bars" style="color:#0C474B"></i>
        </a>
    </div>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="https://adalab.es/">Productos</a>
            </li>
            <li>
                <a href="https://adalab.es/">Colecciones</a>
            </li>
            <li>
                <a href="https://adalab.es/">Tienda</a>
            </li>
            <li>
                <a href="https://adalab.es/">Inicio</a>
            </li>
        </ul>

    </nav>
    <img clas="header__img" src="./assets/images/logo.png" alt="flor con nombre de la empresa" title="Open Spaces" />
</header>