<!--GRID-->
<section class="second">
    <h2 class="second__title title-green">Volverse organizado se siente mejor con OPEN SPACES</h2>

    <article class="second__article--1">
        <img class="second__img" src="./assets/images/icon_1.png" alt="silla con mesa" title="lo que necesitas" />
        <h3 class="second__subtitle">Lo que necesitas</h3>
        <p class="second__par">Una linea de productos diseñados para todos tus espacios</p>
    </article>

    <article class="second__article--2">
        <img class="second__img" src="./assets/images/icon_2.png" alt="bolsa para reciclaje"
            title="materia prima sustentable" />
        <h3 class="second__subtitle">Materias primas sustentables</h3>
        <p class="second__par">Todos los productos con materias primas sustentables</p>
    </article>

    <article class="second__article--3">

        <img class="second__img" src="./assets/images/icon_3.png" alt="cartel con arboles y flecha" title="guia" />

        <h3 class="second__subtitle">Guía</h3>
        <p class="second__par">Soporte y asesoramiento para ayudarte con tu objetivo</p>
    </article>

</section>