// fonts
$font-family: 'Poppins', sans-serif;
$size-h2: 1.5rem;
$size-little: 0.875rem;
$size-med: 1rem;
/*botones y modulo 2*/

// colors
$color-principal: #0C474B;
$color-third: #ff975a;
$color-bg: #f0ebe5;
$color-footer: #b6c8c9;
$color-details: #ffff;