.header {
    background-color: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;

    &__title {
        display: none;
    }

    &__fig {
        height: 96px;
        width: 213px;
    }

    &__img {
        height: 96px;
        width: 213px;
    }

    &__icon {
        position: fixed;
        top: 4%;
        left: 2%;
    }
}