.second {
    color: $color-principal;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    row-gap: 2.25rem;
    align-items: center;
    /*margin: 0% 10%;*/

    &__title {
        font-weight: 600;
        font-size: $size-h2;
        grid-row: 1/2;
        grid-column: 1/5;
        text-align: center;
        margin: 0% 10%;
    }

    &__article--1 {
        grid-row: 2/3;
        grid-column: 2/4;
        text-align: center;
    }

    &__article--2 {
        grid-row: 3/4;
        grid-column: 2/4;
        text-align: center;
    }

    &__article--3 {
        grid-row: 4/5;
        grid-column: 2/4;
        text-align: center;
    }

    &__subtitle {
        font-weight: 600;
        font-size: $size-sbt;
        line-height: 1.5;
        padding: 10% 0%;
    }

    &__par {
        line-height: 1.5;
    }
}